<mat-grid-list cols="1" rowHeight="250px" class="home-banner">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <div class="" style="color: #fff; text-shadow: 2px 2px #4e4e4e; font-size: 35px !important;">
                <span>HELLO, WHAT CAN WE HELP YOU FIND?</span>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="input-group mb-3">
                <input type="text" class="form-control search-form" placeholder="Type the goods here..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn ss-button" type="button">Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  </mat-grid-tile>
</mat-grid-list>