<div class="form">
	<mat-form-field id="role-name-select" style="display: block;" [formGroup]="userForm">
	  <mat-select placeholder="Role" class="form-control" formControlName="role_name" name="role_name">
	    <mat-option *ngFor="let role of data" [value]="role._id">
	      {{role.role_name}}
	    </mat-option>
	  </mat-select>

	  <mat-error *ngIf="!userForm.get('role_name').valid && userForm.get('role_name').touched">{{ getErrorMessage('role_name') }}</mat-error>
	</mat-form-field>
</div>
