.loading-dialog {
  color: #777;
  width: 300px;
  font-size: 1.2em;
  background: white;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: -10px -24px;
}

.loading-dialog img {
  vertical-align: middle;
  border-style: none;
}
