<mat-grid-list cols="1" rowHeight="150px" class="home-banner">
  <mat-grid-tile [colspan]="1" [rowspan]="1">
    
  </mat-grid-tile>
</mat-grid-list>

<!-- <mat-grid-list cols="1" rowHeight="450px">
  <mat-grid-tile [colspan]="1" [rowspan]="1"> -->
    
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-sm-6">
					<div class="product-detail-container">
						<div class="row">
							<div class="col-sm-12 mb-3">
								<div class="product-detail-image"></div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-3">
								<div class="">
									<img style="width: 100%; height: auto;" src="./assets/images/home1.jpg">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="">
									<img style="width: 100%; height: auto;" src="./assets/images/denim1.jpg">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="">
									<img style="width: 100%; height: auto;" src="./assets/images/denim4.jpg">
								</div>
							</div>
							<div class="col-sm-3">
								<div class="">
									<img style="width: 100%; height: auto;" src="./assets/images/denim3.jpg">
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="product-detail-container vcenter">
						<mat-card class="example-card">
						  <mat-card-content>
						    <div class="row mb-3">
								<div class="col-sm-12 text-bold product-title">Vintage Denim Jacket</div>
								<div class="col-sm-12 text-bold product-price">
									<span class="text-red">Rp300.000</span>
								</div>
							</div>
							
							 <div class="row">
								<div class="col-sm-12">
									<span class="text-bold">Description:</span>
								</div>
								<div class="col-sm-12">
									<small>
										Vintage denim jacket!
										<br>
										Size M<br>
										Good conditions<br>
										Unisex, can be used for man or women<br>
										<br>
										Physical Condition : 9/10 condition with a few small markings on it. Otherwise near new. <br>
										<br>
										Length 69,   Bust 100, Shoulder 40, Sleeve 59,
									</small>
								</div>
							</div>
						  </mat-card-content>

						  <mat-card-actions class="">
						    <a mat-button class="ss-button btn-block" routerLink="/dashboard/seeker">BUY NOW</a>
						  </mat-card-actions>
						</mat-card>

					</div>
				</div>
			</div>	
		</div>
	</div>
</div>


