<div class="grid-container">

  <div class="row">
    <div class="col-4 mb-4" *ngFor="let card of cards | async">
      <div class="card">
        <a routerLink="/detail">
          <img class="card-img-top" src="{{card.image}}" alt="Card image" style="width:100%">
        </a>
        <div class="card-body">
          <div class="row">
            <div class="col-6 text-left text-price">
              Rp{{card.price}}
            </div>
            <div class="col-6 text-right">
              <span class="text-red">Buy Now</span>
            </div>
          </div>
          <p class="card-text">{{card.caption}}</p>
        </div>
      </div>
    </div>
  </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                  

</div>




<!-- <div class="grid-container">
  <mat-grid-list cols="3" rowHeight="390px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">

        <a routerLink="/detail">
          <img class="product-list" mat-card-image src="{{card.image}}" alt="second-hand-radio">
        </a>

        <mat-card-content class="dashboard-card-content">
          <div class="row">
            <div class="col-6 text-left text-price">
              Rp{{card.price}}
            </div>
            <div class="col-6 text-right">
              <span class="text-red">Buy Now</span>
            </div>
          </div>

          <div class="row">
            <div class="col-12 text-left text-bold">
              {{card.caption}}
            </div>
          </div>

        </mat-card-content>

      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>

</div> -->
