<div class="container-fluid mt-3">
	
	<div class="row">
		<div class="col-sm-3 sidemenu" style="">
	   		<mat-list role="list">
			  <mat-list-item role="listitem" 
			  	[class.seeker-active-container]="activeContainer == 'cart'" 
			  	(click)="activeContainer='cart'">
			  	CART
			  </mat-list-item>
			  <mat-list-item role="listitem" 
			  	[class.seeker-active-container]="activeContainer == 'orders'"
			  	(click)="activeContainer='orders'">
			  	ORDERS
			  </mat-list-item>
			  <mat-list-item role="listitem" 
			  	[class.seeker-active-container]="activeContainer == 'wishlist'"
			  	(click)="activeContainer='wishlist'">
			  	WISHLIST
			  </mat-list-item>
			</mat-list>
		</div>

		<!-- THE CART SECTION -->
		<div class="col-sm-9" style="background-color: #eaeaea; padding-top: 15px; padding-bottom: 15px;">
			<div *ngIf="activeContainer == 'cart'" class="cart-container">
				<h5 class="mb-2">Please Complete your Purchase</h5>
				<mat-divider></mat-divider>
				<mat-horizontal-stepper [linear]="isLinear" #stepper>
				  <mat-step [stepControl]="firstFormGroup">
				    <form [formGroup]="firstFormGroup">
				      <ng-template matStepLabel>Cart</ng-template>
				      <div class="example-container">

				      	<div class="" style="border: 1px solid #eaeaea; width: 100%;padding: 10px;">
						  <div class="text-bold" style="font-size: 16px;">Hannah Senorita</div>
						  <mat-divider></mat-divider>
					      <div class="row mt-2 mb-2">
							<div class="col-12 col-sm-8 col-lg-6">
								<div class="row">
							    	<div class="col-5 col-md-5 col-lg-5">
							    		<img style="width: 100%; height: auto;" src="./assets/images/home1.jpg">
							    	</div>
							    	<div class="col-7 col-md-7 col-lg-7" style="padding-left: 0px;">
							    		<span mat-line style="font-size: 14px;">Vintage Denim Jacket</span>
							    		<div mat-line class="text-red"> Rp300.000 </div>
							    	</div>
								</div>
							</div>
							<div class="col-12 col-sm-4 col-lg-6"></div>
					      </div>
				      	</div>

				      </div>

				      <div class="row mt-3">
				      	<div class="col-6">
				      		<button mat-button class="ss-button btn-block" matStepperNext>Continue</button>
				      	</div>
				      	<div class="col-6"></div>
				      </div>
				    </form>
				  </mat-step>
				  <mat-step [stepControl]="secondFormGroup">
				    <form [formGroup]="secondFormGroup">
				      <ng-template matStepLabel>Shipping</ng-template>
				      <div class="example-container">
					      <mat-form-field>
					        <input matInput placeholder="Address" formControlName="secondCtrl" required>
					      </mat-form-field>

					      <mat-form-field>
						    <mat-select placeholder="State" required>
						      <mat-option value="option">DKI Jakarta</mat-option>
						      <mat-option value="option">Bandung</mat-option>
						      <mat-option value="option">Bali</mat-option>
						      <mat-option value="option">Surabaya</mat-option>
						    </mat-select>
						  </mat-form-field>

						  <mat-form-field>
						    <mat-select placeholder="City" required>
						      <mat-option value="option">Badung</mat-option>
						      <mat-option value="option">Denpasar</mat-option>
						      <mat-option value="option">Gianyar</mat-option>
						      <mat-option value="option">Tabanan</mat-option>
						      <mat-option value="option">Karangasem</mat-option>
						    </mat-select>
						  </mat-form-field>

						  <mat-form-field>
					        <input matInput placeholder="ZIP" formControlName="secondCtrl" required>
					      </mat-form-field>

						  <mat-form-field>
						    <mat-select placeholder="Shipping Provider" required>
						      <mat-option value="option">JNE</mat-option>
						      <mat-option value="option">JNT</mat-option>
						      <mat-option value="option">Ninja Express</mat-option>
						    </mat-select>
						  </mat-form-field>

						  <mat-form-field>
						    <mat-select placeholder="Shipping Duration" required>
						      <mat-option value="1" (click)="shipping='Rp32.000'">Next Day (1 day)</mat-option>
						      <mat-option value="2" (click)="shipping='Rp22.000'">Regular (2-4 day)</mat-option>
						      <mat-option value="3" (click)="shipping='Rp18.000'">Economy (4 day)</mat-option>
						    </mat-select>
						  </mat-form-field>

						  <div *ngIf="shipping !== ''">
						  	<label class="text-bold">Shipping Cost: </label>
						  	<span class="text-red">{{shipping}}</span>
						  </div>
					  </div>

				      <div class="row mt-3">
				      	<div class="col-6">
				      		<button mat-button class="ss-button btn-block" matStepperPrevious>Back</button>
				      	</div>
				      	<div class="col-6">
				      		<button mat-button class="ss-button btn-block" matStepperNext>Continue</button>
				      	</div>
				      </div>
				    </form>
				  </mat-step>
				  <mat-step>
				    <ng-template matStepLabel>Payment</ng-template>
				    <div class="example-container">
		    			<div class="row mb-3" style="border: 1px solid #eaeaea; width: 100%;padding: 10px;">
		    				<div class="col-12">
					    	<div style="font-size: 16px;">Orders Summary</div>
							<mat-divider></mat-divider>
								
								<div class="row mt-2 mb-2">
									<div class="col-12 col-sm-8 col-lg-6">
										<div class="row">
									    	<div class="col-5 col-md-5 col-lg-5">
									    		<img style="width: 100%; height: auto;" src="./assets/images/home1.jpg">
									    	</div>
									    	<div class="col-7 col-md-7 col-lg-7" style="padding-left: 0px;">
									    		<span mat-line style="font-size: 14px;">Vintage Denim Jacket</span>
									    		<div mat-line class="text-red"> Rp300.000 </div>
									    	</div>
										</div>
									</div>
									<div class="col-12 col-sm-4 col-lg-6"></div>
							    </div>

							<mat-divider></mat-divider>
								<div class="mt-3">
						    		<dl class="row">
									  <dt class="col-sm-3">Shipping Cost</dt>
									  <dd class="col-sm-9">Rp22.000</dd>

									  <dt class="col-sm-3">Tax (10%)</dt>
									  <dd class="col-sm-9">Rp30.000</dd>
									</dl>
								</div>
							<mat-divider></mat-divider>
							<div class="mt-3">
						    		<dl class="row">
									  <dt class="col-sm-3">Total Amount</dt>
									  <dd class="col-sm-9">Rp352.000</dd>
									</dl>
								</div>
		    				</div>
		    			</div>
					    	<!-- </div>
					    </div> -->
					    <div class="row">
					      	<div class="col-6">
					      		<button mat-button class="ss-button btn-block" matStepperPrevious>Back</button>
					      	</div>
					      	<div class="col-6">
					      		<button mat-button class="ss-button btn-block"
					      		[swal]="['Processing', 'Complete your payment throught the available payment methods', 'info']" (confirm)="activeContainer='orders'">
					      			Proceed Payment
					      		</button>
					      	</div>
					    </div>
				    </div>
				  </mat-step>
				</mat-horizontal-stepper>


			</div>


			<div *ngIf="activeContainer == 'orders'" class="orders-container">
				<h5 class="mb-2">List of Orders</h5>
				<mat-divider></mat-divider>
				<div class="example-container">
	    			<div class="row mb-3" style="border: 1px solid #eaeaea; width: 100%;padding: 10px;">
	    				<div class="col-12">
							<div class="row mt-2 mb-2">
								<div class="col-12 col-sm-8 col-lg-6">
									<div class="row">
								    	<div class="col-5 col-md-5 col-lg-5">
								    		<img style="width: 100%; height: auto;" src="./assets/images/home1.jpg">
								    	</div>
								    	<div class="col-7 col-md-7 col-lg-7" style="padding-left: 0px;">
								    		<span mat-line style="font-size: 14px;">Vintage Denim Jacket</span>
								    		<div mat-line class="text-red"> Rp300.000 </div>
								    		<div mat-line>
								    			<mat-chip-list aria-label="status">
												  <mat-chip style="font-size: 14px;">processing</mat-chip>
												</mat-chip-list>
								    		</div>
								    	</div>
									</div>
								</div>
								<div class="col-12 col-sm-4 col-lg-6"></div>
						    </div>
	    				</div>
	    			</div>
			    </div>
			</div>
			<div *ngIf="activeContainer == 'wishlist'" class="wishlist-container">
				<h5 class="mb-2">Wishlist</h5>

				<div class="alert" role="alert">
				  You don't have any wishlist yes.
				</div>
			</div>
		</div>
	</div>
</div>